* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #ff3d00;
}

body {
	background: #000000;
	font-family: "Poppins", sans-serif;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	z-index: 10;
	flex-direction: column;
}

.sidenav-trigger {
	display: block;
	color: #fff;
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
}

.logo {
	font-size: 32px;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 800;
	text-decoration: none;
	cursor: pointer;
}

.nav {
	display: none; /* Escondido para futura implementação do menu */
}

.search {
	display: none;
}

.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 120px 20px 20px; /* Padding para Mobile */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	transition: 0.5s;
}

.banner::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
}

.content {
	order: 2; /* Ordem para Mobile -> Carrossel primeiro */
	position: relative;
	width: 100%;
	text-align: center;
	display: none;
	visibility: hidden;
	transform: scale(0);
	transition: 0.5s;
}

.content.active {
	display: block;
	visibility: visible;
	transform: scale(1);
}

.material-icons {
	vertical-align: middle;
	margin-right: 5px;
}

.movie-title {
	max-width: 220px; /* Ajuste para Mobile */
}

.banner .content h4 {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 400;
	font-size: 16px; /* Ajuste para Mobile */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.banner .content h4 span {
	padding: 0;
	border-right: none;
}

.banner .content h4 span i {
	background: var(--primary);
	color: #ffffff;
	padding: 2px 8px;
	display: inline-block;
	border-radius: 2px;
}

.banner .content p {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.5em;
	color: #ffffff;
	margin: 10px 0 20px;
}

.banner .content .button {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.banner .content .button a {
	padding: 6px 20px;
	font-size: 0.9em;
	background: var(--primary);
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: aliceblue;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}

.banner .content .button a:nth-child(2) {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.banner .carousel-box {
	order: 1; /* Ordem para Mobile -> Carrossel primeiro */
	position: relative;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
}

.carousel {
	position: relative;
	height: 350px;
	perspective: 1000px;
}

.carousel .carousel-item {
	width: 180px;
	cursor: pointer;
}

.carousel .carousel-item img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	object-fit: cover;
	object-position: center;
}

/*
.play:hover {
	color: var(--primary);
}

.sci {
	position: absolute;
	bottom: 50px;
	right: 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.sci a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 25px;
	transition: 0.3s;
	cursor: pointer;
}

.sci a:hover {
	color: var(--primary);
}
*/

.sci {
	display: none;
}

.footer {
	position: relative;
	padding: 20px 40px;
	background-color: #000;
	text-align: center;
}

.footer p {
	color: #ffffff;
	font-size: 1em;
	font-weight: 300;
}

/* RESPONSIVIDADE */
